.table {
  margin-top: 20px;
  overflow-y: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    45deg,
    rgb(230, 162, 85),
    rgb(248, 164, 230)
  );
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-image: linear-gradient(
    45deg,
    rgb(128, 227, 235),
    rgb(131, 240, 158)
  );
}
